@import '../../styles/_layout'
.header
	@include flex-inline
	justify-content: space-around
	font-size: 1.6rem
	padding: $space-minimal
	h2
		font-size: 3rem
	ul
		@include flex-inline
		gap: 16px
		list-style: none
		position: relative
	a
		position: relative
		text-decoration: none
		color: black
	li
		border: 1px solid black
		box-shadow: -3px 3px 0px black
		border-radius: .5rem
		padding: 1rem
		position: relative
		transition: .1s
		&:hover
			color: blue
			border: 1px solid blue
			box-shadow: -3px 3px 0px blue
		&:active
			transform: translate(-3px, 3px)
			box-shadow: 0 0 0 black
